$faintBlue: rgba(0, 75, 183, 0.15);
$blue: rgba(0, 75, 183, 0.5);
.queryBuilder {
  * {
    font-family: 'Noto Sans';
    font-size: 12pt;
  }
  margin-top: 20px;
  background-color: transparent !important;
  border: 0;
  .rule {
    flex-flow: column;
    margin-bottom: 10px;
  }
  .rule-value {
    width: 100%;
  }
  .rule-remove { display: none; }
  .rule-fields {
    width: 100%;
  }
  .ruleGroup {
    border: 0;
    border-radius: 10px;
    background: transparent; //$faintBlue;
    // border-left: 2px solid $faintBlue;
    // border-right: 2px solid $faintBlue;
    .ruleGroup-addGroup {
      display: none;
    }
  }
  .rule-operators {
    display: none;
  }
  .ruleGroup-combinators {
    display: none;
  }
  select.rule-fields {
    text-indent: 0px;
    text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  select.rule-fields,
  button.ruleGroup-addRule {
    &:hover {
      background-color: $blue;
    }
  }
  input[type='text'],
  select.rule-fields,
  button.ruleGroup-addRule {
    border-radius: 10px;
    background: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
  }
  input[type='text'] {
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
}
